* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
}
/* header-section-css */
.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
  z-index: 1000;
  padding: 15px 50px 15px 70px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 70px;
  height: auto;
}
nav {
  margin-right: 110px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #f1f1f1;
  font-weight: bold;
  position: relative;
  font-size: 1.1em;
}
nav a::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: rgb(0, 136, 255);
  border-radius: 5px;
  left: 0;
  bottom: -6px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}
nav a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
nav a:hover {
  color: #f1f1f1;
}